<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://db.ch898q6grkrv.us-west-2.rds.amazonaws.com:3307/db_catt1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">hazzrob7</property>
    <property name="hibernate.connection.password">juanita1</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="com/myapp/mapping/Tt.hbm.xml"/>
    <mapping resource="com/myapp/mapping/Horario.hbm.xml"/>
    <mapping resource="com/myapp/mapping/Profesor.hbm.xml"/>
    <mapping resource="com/myapp/mapping/Alumno.hbm.xml"/>
    <mapping resource="com/myapp/mapping/Sala.hbm.xml"/>
    <mapping resource="com/myapp/mapping/Sinodalia.hbm.xml"/>
    <mapping resource="com/myapp/mapping/Dirige.hbm.xml"/>
    <mapping resource="com/myapp/mapping/Calendario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
