/*CSS  General para el sitema*/
/*Opciones generales*/
html{
  color: #2F343A;
  font-family: sans-serif;
  font-size: xx-small;

}

 .General{
  width: 60%;
  margin-top: 150px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 50px;
 }

 h2,h3{
   color:rgb(135, 45, 42);
 }


/*Barra de Menu*/
#logoEscom{
 height: 40px;
 width: 60px;
}

.LogoTitle{
  display: inline-block;
}

.MainMenu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  text-align: left;
  background: #6D6D6D;
  margin-bottom: 100px;
}
.Title{
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    color: white;
}
.Title-item{
    display: inline-block;
    font-size: 30px;
}
.Title-item-name{
    display: inline-block;
    margin-right: 35px;
    font-size: 25px;
}

/*Panels*/
.PanelBlue{
  background-color: #003366;
  border-color: #003366;
}
.PanelRed{
  background-color: #993333;
  border-color: #993333;
}
.PanelHome{
  background-color: #669999;
  border-color: #669999;
}

.PanelGeneral{
  border-style: solid;
  border-width: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /*border-radius: 25px;*/
  margin-bottom: 15px;
  margin-right: 10%;
  margin-left: 10%;
}
.Panel-Title{
  color: white;
  font-size: 18px;
  margin-top: 5px;
  margin-left: 15px;
  margin-left: 30%;
}
.PanelContent{
  background-color: white;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 15px;

}


/*Cuestionarios*/
