/*CSS  General para el sitema*/

/*Opciones generales*/

html {
  color: #2F343A;
  font-family: sans-serif;
  font-size: small;
}

.General {
  width: 60%;
  margin-top: 150px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 50px;
}

h2, h3 {
  color: rgb(135, 45, 42);
}


/*Barra de Menu*/

#logoEscom {
  height: 40px;
  width: 60px;
}

.LogoTitle {
  display: inline-block;
}

.TitleBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  text-align: left;
  background: #6D6D6D;
  margin-bottom: 100px;
}

.MainMenu {
  padding-left:18%;
  position: fixed;
  top: 62px;
  right: 0;
  left: 0;
  height: 20px;
  text-align: left;
  background: #792241;
  margin-bottom: 100px;
}

.Title {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  color: white;
}

.Title-item {
  display: inline-block;
  font-size: 16px;
}

.Title-item-name {
  display: inline-block;
  margin-right: 0px;
  font-size: 16px;
}


/*HoverMenu*/

.dropbtn {
  background-color: #46569c;
  color: white;
  padding: 12px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  width: 170px;
}

.dropbtn.red {
  background-color: #b2240e;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 12px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #6383c2;
}

.dropdown:hover .dropbtn.red {
  background-color: #af493a;
}


/*Tables */
/*Satus indicator */
.StatusTable {
  border: 1px solid #ddd;
  width: 100%;
}
.StatusTable th{
  padding: 6px;
  color: white;
  background-color: #b2240e;
  border-bottom: 1px solid #ddd;
}
.StatusTable td{
  padding: 15px;
  font-size: 15px;
}

/*Botones*/
.botonCalendar{
    margin-left: 25%;
    background-color: #46569c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
